
back-end/Consumers Goods/Apparel/obj/Apparel.csproj.nuget.dgspec.json
back-end/Consumers Goods/Apparel/obj/Apparel.csproj.nuget.g.props
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.AssemblyInfo.cs
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.AssemblyInfoInputs.cache
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.assets.cache
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.csproj.AssemblyReference.cache
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.csproj.CoreCompileInputs.cache
back-end/Consumers Goods/Apparel/obj/Debug/net6.0/Apparel.GeneratedMSBuildEditorConfig.editorconfig
back-end/Consumers Goods/Apparel/obj/project.assets.json
back-end/Consumers Goods/Apparel/obj/project.nuget.cache
back-end/ESG/.vs/ESG/DesignTimeBuild/.dtbcache.v2
back-end/ESG/.vs/ESG/FileContentIndex/2e41efdc-d5d5-4210-8f80-9da62c3f4b7d.vsidx
back-end/ESG/.vs/ESG/FileContentIndex/88950334-8581-4155-94ee-db2d93cb5479.vsidx
back-end/ESG/.vs/ESG/FileContentIndex/8ccaef9f-adeb-48ad-b3dd-2da40419d0e7.vsidx
back-end/ESG/.vs/ESG/FileContentIndex/bce0ede8-8ea0-4bc1-ade0-c64d951a7ac3.vsidx
back-end/ESG/.vs/ESG/FileContentIndex/e6844693-9067-4f01-8c27-61d000b06b4e.vsidx
back-end/ESG/.vs/ESG/v17/.suo
back-end/ESG/obj/Debug/net6.0/apphost.exe
back-end/ESG/obj/Debug/net6.0/ESG.AssemblyInfoInputs.cache
back-end/ESG/obj/Debug/net6.0/ESG.assets.cache
back-end/ESG/obj/Debug/net6.0/ESG.csproj.CoreCompileInputs.cache
back-end/ESG/obj/Debug/net6.0/ESG.csproj.FileListAbsolute.txt
back-end/ESG/obj/Debug/net6.0/ESG.GeneratedMSBuildEditorConfig.editorconfig
back-end/ESG/obj/ESG.csproj.nuget.dgspec.json
back-end/ESG/obj/ESG.csproj.nuget.g.props
back-end/ESG/obj/project.assets.json
back-end/ESG/obj/project.nuget.cache
